run = "node server/index.js"
entrypoint = "server/index.js"

[deployment]
run = ["npm", "run", "build"]
deploymentTarget = "cloudrun"
ignorePorts = false

[env]
NODE_ENV = "production"

[nix]
channel = "stable-22_11"

[packager]
language = "nodejs"

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.json}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment.build]
run = "npm run build"