modules = ["nodejs-20"]
[nix]
packages = ["git"]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Production Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TASKCHAIN Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Production TASKCHAIN"

[[workflows.workflow]]
name = "Production Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.cjs"
waitForPort = 5000

[[workflows.workflow]]
name = "TASKCHAIN Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd eth-degen-taskchain/server && node index.js"
waitForPort = 3000

[[workflows.workflow]]
name = "Production TASKCHAIN"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd eth-degen-taskchain && npm run build && npm start"
waitForPort = 5000
